.main {
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__notification {
			display: flex;
			justify-content: center;
			align-items: center;
			&__btn {
				display: flex;
				border: none;
				background-color: white;
				padding: 0.75rem;
				border-radius: 0.75rem;
				cursor: pointer;
			}
		}
		&__profile {
			display: flex;
			align-items: center;
			background-color: white;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			border-radius: 0.75rem;
			margin-left: 1.5rem;
			&__nophoto {
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30px;
				width: 30px;
				background-color: #d1d5db;
				border-radius: 1rem;
			}
			&__title {
				font-weight: 700;
				color: #0a1629;
				font-size: 1rem;
				line-height: 1.5rem;
				margin-left: 0.75rem;
				margin-right: 0.75rem;
			}
		}
	}
}
