.header {
	margin-top: 50px;
	margin-bottom: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
	&-title {
		font-weight: bold;
		font-size: 36px;
		color: #0a1629;
	}
}
