.employees {
  &-footer {
    display: flex;
    justify-content: flex-end;
    &__pagination {
      display: flex;
      align-items: center;
      background: #fff;
      padding: 12px 16px;
      width: max-content;
      border-radius: 14px;
      &__count {
        color: #0a1629;
        font-size: 16px;
      }
      &__arrows {
        display: flex;
        align-items: center;
        margin-left: 16px;
        &__item {
          display: flex;
          border: none;
          background: transparent;
          cursor: pointer;
          color: #c9ccd1;
        }
      }
    }
  }
}
